@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* base styles */

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  padding: 10px;
  display: flex;
  margin-left: auto;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-details div {
  margin: 20px 0;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px;
  box-sizing: border-box;
  display: block;
}

/* create new project form */
.new-project-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.new-project-form label {
  text-align: left;
  display: block;
}

.new-project-form input, .new-project-form textarea, .new-project-form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px;
  box-sizing: border-box;
  display: block;
}

/* edit project form */
.edit-project-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.edit-project-form label {
  text-align: left;
  display: block;
}

.edit-project-form input, .edit-project-form textarea, .edit-project-form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px ;
  box-sizing: border-box;
  display: block;
}

